/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 14rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}

.button {
  border: 1px solid red;
  padding: 2rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  text-decoration: none !important;
  cursor: pointer;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 180pt);
  width: 100%;
  text-align: center;

  .bannerimage {
    height: 200px;
    width: 200px;
  }
}